/* Centered intro paragraph: equal left/right margins, justified text */
.centered-intro {
    max-width: 72em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.people {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

}

.people > div {
    text-align: center;
    margin: 5px;
}

.people > div > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

