.people {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

}

.people > div {
    text-align: center;
    margin: 5px;
}

.people > div > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

